Flask==3.1.*
Pillow==11.*
Flask-SQLAlchemy==3.1.*
Flask-Login==0.6.*
Flask-Bcrypt==1.0.*
Flask-WTF==1.2.*
Flask-Migrate==4.0.*
WTForms==3.1.*
SQLAlchemy==2.0.*
pandas==2.2.*
openpyxl==3.1.*
gunicorn==22.*
psycopg2-binary==2.9.*
email-validator==2.2.*
